<div class="row text-center">
	<div class="container">
		<h2 class="section-heading">User Management</h2>
		<h3 class="section-subheading text-muted">Hello <strong>{{ main.username }}, </strong>This page allows you to edit
			and delete users.</h3>
	</div>
</div>

<br>

<div class="showmore">
	<div class="col-lg-6">
		<div class="input-group">
			<span class="input-group-addon"> Results to display</span>
			<input type="text" class="form-control" ng-model="number" name="t">
		</div>
	</div>
	<button class="btn btn-success" ng-click="management.showMore(number);">Apply Filter</button>
	<button type="button" ng-click="management.showAll();" class="btn btn-warning">Show All</button>
</div>

<br>
<br>
<div class="jumbotron text-center" ng-show="management.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p> Loading..</p>
</div>
<br>
<div class="row show-hide-message" ng-show="management.showMoreError">
	<div class="alert alert-danger">{{ management.showMoreError }}</div>
</div>
<br>

<div class="panel panel-primary">
	<div class="panel-heading">
		<strong> User Managemen</strong>

	</div>
	<table class="table">
		<tr>
			<th>Name</th>

			<th>Email</th>
		</tr>
		<tr ng-repeat="person in management.users | limitTo:management.limit">
			<td>{{person.name}}</td>

			<td>{{person.message}}</td>

		</tr>
	</table>
</div>
<div class="row show-hide-message" ng-show="management.successMsg">
	<div class="alert alert-success">{{management.successMsg}}</div>
</div>
<br>