<div class="col-lg-6 wthree-form-right">
  gjgj

  <div class="panel panel-primary" style=" display:block;
     height: 350px;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;
    table-layout: fixed;
    border-collapse: collapse;">
    <div class="men-thumb-item">
      <img src="{{productdeta.imageUrl}}" alt="img" class="" style="height: 258px;width:auto;">
      <div>
        <label>Name:</label> {{ productdeta.productDetail.name || 'N/A' }}
      </div>
      <div>
        <label>description:</label>
        {{ productdeta.productDetail.description || 'N/A'}}
        <!--  <textarea name="summary" style="border-radius:0px;height:100px"></textarea> -->
      </div>
    </div>
  </div>
</div>