                          <div class="row">
                        <!-- card -->
                        <div class="card col-lg-3 col-md-3 col-sm-3 col-xs-6 product-men p-3" ng-repeat="product in home.productList">
                            <div class="men-thumb-item">
                                <img src="http://localhost:3001/{{product.image[0].image_url}}" alt="img" class=""
                                    style="height: 258px;width:auto;">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                            <a href="/products/{{ product._id }}" class="link-product-add-cart">Quick
                                                View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- card body -->
                            <div class="card-body  py-3 px-2">
                                <h5 class="card-title text-capitalize">{{product.description}}</h5>
                            </div>
                        </div>
                        <!-- //card -->
                    </div>