<h1>hi
</h1>
<section class="tabs_pro " style="bottom-margin:-40px">
    <h5 class="head_agileinfo text-center text-capitalize pb-5">
        <span>s</span>mart clothing</h5>
    <div class="tabs tabs-style-line pt-md-5" style="margin-top:-60px;">
        <nav class="container">
            <ul id="clothing-nav" class="nav nav-tabs tabs-style-line" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#activewear" id="women-tab" role="tab" data-toggle="tab"
                        aria-controls="women" aria-expanded="true">Active Wear</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#comfortwear" role="tab" id="men-tab" data-toggle="tab" aria-controls="men">Comfort
                        Wear
                    </a>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="#girl" role="tab" id="girl-tab" data-toggle="tab" aria-controls="girl">Girl's Fashion</a> -->
                </li>
                <li class="nav-item">
                    <!--  <a class="nav-link" href="#boy" role="tab" id="boy-tab" data-toggle="tab" aria-controls="boy">Boy's Fashion</a> -->
                </li>
            </ul>
        </nav>
        <!-- Content Panel -->
        <div id="clothing-nav-content" class="tab-content py-sm-5" style="margin-bottom:-26px;">
            <div role="tabpanel" class="tab-pane fade show active" id="activewear" aria-labelledby="women-tab">
                <div class="row text-center">
                    <div class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <!-- card -->
                        <div class="card product-men p-3">
                            <div class="men-thumb-item">
                                <img src="assests/images/pf1.jpg" alt="img" class="" style="height: 258px;width:auto;">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="womens.html" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <!-- card body -->
                            <div class="card-body  py-3 px-2">
                                <h5 class="card-title text-capitalize">contrast color RIB jogger</h5>
                            </div>
                        </div>
                        <!-- //card -->
                    </div>
                    <div class="item  col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <!-- card -->
                        <div class="card product-men p-3">
                            <div class="men-thumb-item">
                                <img src="assests/images/pf2.jpg" class="" style="height: 258px;width:auto;" alt="img">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="womens.html" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <!-- card body -->
                            <div class="card-body  py-3 px-2">
                                <h5 class="card-title text-capitalize">contrast color RIB Jogger</h5>

                            </div>

                        </div>
                        <!-- //card -->
                    </div>
                    <div class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <!-- card -->
                        <div class="card product-men p-3">
                            <div class="men-thumb-item">
                                <img src="assests/images/JCT003.jpg" alt="img" style="height: 258px;width:auto;">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="womens.html" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <!-- card body -->
                            <div class="card-body  py-3 px-2">
                                <h5 class="card-title text-capitalize">Athletic fit jogger</h5>

                            </div>

                        </div>
                        <!-- //card -->
                    </div>

                    <div class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <!-- card -->
                        <div class="card product-men p-3">
                            <div class="men-thumb-item">
                                <img src="assests/images/pf9.jpg" style="height: 258px;width:auto;" alt="img">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="womens.html" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <!-- card body -->
                            <div class="card-body  py-3 px-2">
                                <h5 class="card-title text-capitalize">contract color stripe track pant</h5>

                            </div>

                        </div>
                        <!-- //card -->
                    </div>


                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="comfortwear" aria-labelledby="men-tab" style="margin-top: -26px;">
                <div class="row text-center">
                    <div class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <!-- card -->
                        <div class="card product-men p-3">

                            <div class="men-thumb-item">
                                <img src="assests/images/pm1.jpg" alt="img" style="height: 258px;width:auto;">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="womens.html" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <!-- card body -->
                            <div class="card-body  py-3 px-2">
                                <h5 class="card-title text-capitalize">Shorts with sporty cross side </h5>

                            </div>

                        </div>
                        <!-- //card -->
                    </div>
                    <div class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <!-- card -->
                        <div class="card product-men p-3">
                            <div class="men-thumb-item">
                                <img src="assests/images/pm2.jpg" alt="img" class="card-img-top" style="height: 258px;width:auto;">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="mens.html" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                            </div>

                            <!-- card body -->
                            <div class="card-body  py-3 px-2">
                                <h5 class="card-title text-capitalize">Single thin stripe capri</h5>

                            </div>

                        </div>
                        <!-- //card -->
                    </div>
                    <!-- card -->
                    <div class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="card product-men p-3">
                            <div class="men-thumb-item">
                                <img src="assests/images/grn.jpg" alt="img" class="card-img-top" style="height: 258px;width:auto;">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="mens.html" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <!-- card body -->
                            <div class="card-body  py-3 px-2">
                                <h5 class="card-title text-capitalize">Rib capri pant with thin stripe</h5>

                            </div>

                        </div>
                        <!-- //card -->
                    </div>

                    <div class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <!-- card -->
                        <div class="card product-men p-3">
                            <div class="men-thumb-item">
                                <img src="assests/images/pt2.jpg" style="height: 258px;width:auto;" alt="img" class="card-img-top">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="mens.html" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <!-- card body -->
                            <div class="card-body  py-3 px-2">
                                <h5 class="card-title text-capitalize"> Shorts with thin stripe</h5>

                            </div>

                        </div>
                        <!-- //card -->
                    </div>

                    <!-- //card -->
                </div>

            </div>
        </div>



    </div>
    </div>
</section>
<!-- //product tabs -->
<section class="" style="top-margin:-50px">
    <h5 class="head_agileinfo text-center text-capitalize pb-5">
        <span>Top</span>Selling</h5>
    <div class="tabs tabs-style-line pt-md-5" style="margin-top:-60px;">
        <nav class="container">
            <ul id="clothing-nav" class="nav nav-tabs tabs-style-line" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#FCT001" id="FCT001-tab" role="tab" data-toggle="tab"
                        aria-controls="FCT001" aria-expanded="true">FCT001</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#FCT002" role="tab" id="FCT002-tab" data-toggle="tab" aria-controls="FCT002">FCT002
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#FCT003" role="tab" id="FCT003-tab" data-toggle="tab" aria-controls="girl">FCT003</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#FCT004" role="tab" id="FCT004-tab" data-toggle="tab" aria-controls="FCT004">FCT004</a>
                </li>
            </ul>
        </nav>
        <!-- Content Panel -->
        <div id="clothing-nav-content" class="tab-content py-sm-5" style="margin-top:-15px;">
            <div role="tabpanel" class="tab-pane fade show active" id="FCT004" aria-labelledby="FCT004-tab">
                <div class="row text-center">
                    <div class="item col-md-3">
                        <!-- card -->
                        <div class="card product-men p-3">
                            <div class="men-thumb-item">
                                <img src="assests/images/pt1.jpg" alt="img" style="height: 258px;width:auto;">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="womens.html" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <!-- card body -->
                            <div class="card-body  py-3 px-2">
                                <h5 class="card-title text-capitalize">Jogger with side sripe</h5>

                            </div>

                        </div>
                        <!-- //card -->
                    </div>


                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="FCT003" aria-labelledby="FCT003-tab">
                <div class="row text-center">
                    <div class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <!-- card -->
                        <div class="card product-men p-3">
                            <div class="men-thumb-item">
                                <img src="assests/images/FCC001.png" alt="img" class="" style="height: 258px;width:auto;">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="mens.html" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <!-- card body -->
                            <div class="card-body  py-3 px-2">
                                <h5 class="card-title text-capitalize">Single thin stripe capri</h5>

                            </div>
                            <!-- card footer -->

                        </div>
                        <!-- //card -->
                    </div>

                    <!-- card -->





                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="FCT002" aria-labelledby="FCT002-tab">
                <div id="owl-demo2" class=" text-center row">
                    <div class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <!-- card -->
                        <div class="card product-men p-3">
                            <div class="men-thumb-item">
                                <img src="assests/images/FCS001.png" alt="img" class="" style="height: 258px;width:auto;">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="girl.html" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <!-- card body -->
                            <div class="card-body  py-3 px-2">
                                <h5 class="card-title text-capitalize">Boxer shorts with single thin stripe in contrast
                                    colors on both the sides</h5>

                            </div>

                        </div>
                        <!-- //card -->
                    </div>



                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="FCT001" aria-labelledby="FCT001-tab">
                <div class="row text-center">
                    <div class="item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <!-- card -->
                        <div class="card product-men p-3">
                            <div class="men-thumb-item">
                                <img src="assests/images/polo copper grey side1.png" alt="img" class="" style="height: 258px;width:auto;">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="boy.html" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <!-- card body -->
                            <div class="card-body  py-3 px-2">
                                <h5 class="card-title text-capitalize">High quality pique cotton T-shirt</h5>

                            </div>

                        </div>

                    </div>







                </div>
            </div>

        </div>
    </div>
</section>